*{
    padding :0%;
    margin :0%;
}
body{
   
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:20% 30% 35% ;
    max-width: auto;
    max-height: auto;
}

nav{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color:  rgb(204, 162, 171);
    border-radius: 2em;
    text-align: right;
    height: 100px;
    margin-top: 10px;
}
nav ul li {
    font-size: 20px;
    text-align: right;
    list-style-type: none;}
    
ul#menu li {
        margin: 35px 10px 10px 20px;
        display: inline-block;
    }
a{
        text-decoration: none;
        color : black;
       }
    
a:hover{
        color:blue;
        text-decoration: underline;
    
    }

form{ 
     margin: 50px;
    grid-column: 3/4;
    grid-row: 2/4;
    height: 200px;
    width : 500px;
    background-color: #997897;    
    padding: 2em;
    border: 1px solid rgb(177, 56, 56);
    border-radius: 1em;
    font-size: 18px;
    }
button{
    font-size: 15px;
    position: relative;
    margin-top: 10px;
        
    }
label {
/* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 80px;
    text-align: center;
    padding-bottom: 10px;
      }
      
input, textarea {
        /* Pour s'assurer que tous les champs texte ont la même police.
           Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
      
        /* Pour que tous les champs texte aient la même dimension */
    width: 400px;
    box-sizing: border-box;
      
        /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
    border-radius: 1em;
    
      }
input{
    line-height: 35px;
        
      }
textarea{
    line-height: 40px;
    vertical-align: top;
      }