

body{
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:15% 1fr 1fr 1fr;
    max-width: auto;
    height: 100%;

}

nav{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color:  rgb(204, 162, 171);
    border-radius: 2em;
    text-align: right;
    height: 100px;
    margin-top: 10px;
}

nav ul li {
    font-size: 20px;
    text-align: right;
    list-style-type: none;}
    
ul#menu li {
        margin: 35px 10px 10px 20px;
        display: inline-block;
    }
a{
        text-decoration: none;
        color : black;
       }
    
a:hover{
        color:blue;
        text-decoration: underline;
    
    }
#picture1{
        grid-row: 2;
        grid-column:2;
        padding:10px 10px 10px 10px;
      }
#picture2{
    grid-row: 3;
    grid-column: 2;
    padding:10px 10px 10px 10px;
}
#picture3{
    grid-row: 2;
    grid-column: 3;
    padding:10px 10px 10px 10px;

    }

#picture4{
    grid-row: 3;
    grid-column:3;
    padding:10px 10px 10px 10px;
    
}
h2{
    text-align:center
}
